body {
    font-family: "Lato", sans-serif;
    margin: 0px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid black;
  }
  
  .active-nav-link a {
    color: rgb(178, 115, 32) !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: rgb(178, 115, 32);
  }
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 0.5s;
    font-weight: 600;
    color: transparent;
  }
  
  .image-blur {
    transition: 0.5s;
    filter: brightness(20%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color: rgb(178, 115, 32);
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
  
  /* .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
  
  .profile-image-wrapper img {
    width: 15%;
    padding: 100px;
    padding-left: 600px;
  }
  
  .profile-content-wrapper {
    padding: 50px;
    
  }
  
  .profile-content-wrapper h1 {
    color: rgb(178, 115, 32);
  }

  /* Publications start here */

  /* content one */

    .two-column-one-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .profile-image-one-wrapper img {
    width: 15%;
    padding: 100px;
    padding-left: 450px;
  }
  
  .profile-content-one-wrapper {
    padding-right: 550px;
    
  }
  
  .profile-content-one-wrapper h1 {
    color: rgb(178, 115, 32);
  }

    /* content two */

    .two-column-two-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      .profile-image-two-wrapper img {
        width: 15%;
        padding: 100px;
        padding-left: 450px;
      }
      
      .profile-content-two-wrapper {
        padding-right: 550px;
        
      }
      
      .profile-content-two-wrapper h1 {
        color: rgb(178, 115, 32);
      }
      

      /* content three */

      .two-column-three-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      .profile-image-three-wrapper img {
        width: 15%;
        padding: 100px;
        padding-left: 450px;
      }
      
      .profile-content-three-wrapper {
        padding-right: 550px;
        
      }
      
      .profile-content-three-wrapper h1 {
        color: rgb(178, 115, 32);
      }
      /* content four */

      .two-column-four-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      .profile-image-four-wrapper img {
        width: 15%;
        padding: 100px;
        padding-left: 450px;
      }
      
      .profile-content-four-wrapper {
        padding-right: 550px;
        
      }
      
      .profile-content-four-wrapper h1 {
        color: rgb(178, 115, 32);
      }

      /*Code with me starts here*/

        /* content one */

    .two-column-one-wrapper-cwm {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      
      .profile-image-one-wrapper-cwm img {
        width: 15%;
        padding: 100px;
        padding-left: 450px;
      }
      
      .profile-content-one-wrapper-cwm {
        padding-right: 550px;
        
      }
      
      .profile-content-one-wrapper-cwm h1 {
        color: rgb(178, 115, 32);
      }

      /*Blog starts here*/
      
      /* .two-column-one-wrapper-b {
        display: grid;
        grid-template-columns: 1fr 1fr;
      } */
      
      .profile-image-one-wrapper-b img {
        width: 15%;
        /* padding: 100px; */
        padding-left: 800px;
      }
      
      .profile-content-one-wrapper-b {
        padding-left: 550px;
        
      }
      
      .profile-content-one-wrapper-b h1 {
        color: rgb(178, 115, 32);
      }